/*Inicio Blog*/

main .blog{
    display: grid;
}

.blog h2 {font-size: 2em;
padding-top: var(--padding);}
.blog h3 {color: var(--color-principal)}

@media(min-width:768px){

    main .blog{
        grid-template-columns: 50% 50%;
        grid-template-rows: auto 50vh;
    }

}
/*Final blog*/